<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 int-text">
                <h1 style="text-align: center;">Reminders</h1>
                <form>
                    <input name="title" class="form-control input-lg" type="text" placeholder="Title of task">
                    <br>
                    <textarea name="text" class="form-control" rows="2" placeholder="Content of task"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary">New task</button>
                </form>
            </div>
        </div>
        <br>

        <div class="container">
            <div class="btn-group btncomplete-ca">
                <button type="button" class="btn btn-default delCompBtn">Delete Completed</button>
                <button type="button" class="btn btn-default delAllBtn">Delete All</button>
            </div>
            <br><br><br>
            {{#collection tag="ul"}}
                <div class="col-xs-12 col-sm-6 col-md-4 int-task">
                    <div class="title-post">
                        <div class="row">
                            <div class="col-xs-1 col-md-1">
                                <input {{#done}}checked{{/done}} type="checkbox">
                            </div>
                            <div class="col-xs-10 col-md-10">
                                <h4>{{title}}</h4>
                            </div>

                        </div>
                    </div>
                    <div class="new-task {{#done}}done{{else}}ndone{{/done}}">
                        <li>
                            <p style="line-height: 20px; text-align: justify;"> {{text }}</p>
                        </li>
                        <h5>Fecha: {{date}}</h5>
                    </div>


                    <div class="options new-task">
                        <div style="margin-top: 10px; float: right; margin-right: 30px;" class="btn-group btn-group-xs">
                            <!--<span  class="glyphicon glyphicon-trash"></span>-->
                            <button type="button" class="btn btn-default editBtn">Edit</button>
                            <button type="button" class="btn btn-default delBtn">Delete</button>
                        </div>
                    </div>

                </div>
            {{/collection}}

        </div>
    </div>
</div>



<footer>
    <div class="container">
        <br>
        <p class="muted credit">Example Reminders</p>
    </div>
</footer>